.meterContainer{
    width: 100px;
    height: 350px;
    clip-path: polygon(20% 0 , 80% 0, 100% 10% , 100% 20% , 80% 30% , 80% 70% , 100% 80% , 100% 90% , 80% 100% , 20% 100% , 0 90% , 0 80%, 20% 70% , 20% 30% , 0 20% , 0 10%);
    background-color: beige;
    background: conic-gradient(#41AD49 0deg 90deg , #855AA5 90deg 270deg , #41AD49 270deg 360deg);
    display: flex;
    align-items: center;
    
}

.meter {
    position: relative;
    width: 100px;
    height: 40%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.top, .bottom {
    width: 100%;
    transition: height ease;
}

.top {
    background-color: #41AD49;
}

.bottom {
    background-color: #855AA5;
}

.divider {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: yellow;
    cursor: pointer;
    z-index: 1;
}
