@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-purple-1: #C4CAF0;
  --light-purple-2: #DBB7FC;
  --mid-purple-1: #AA9DD0;
  --mid-purple-2: #9368BC;
  --mid-purple-3: #8858B5;
  --mid-purple-4: #AF5CAA;
  --mid-purple-5: #BB4BAD;
  --dark-purple-1: #8757B5;
  --dark-purple-2: #5E3D84;
  --dark-purple-3: #3F225B;
  --orange-1: #F9A819;
  --orange-2: #FAA81A;
  --pink-1: #FF008A;
  --yellow-1: #FFF500;
  --yellow-2: #FFF200;
}

::selection {
  color: var(--light-purple-1);
  background: var(--dark-purple-3);
}

*, *::after, *::before {
  font-family: "Montserrat Alternates", cursive;
  font-weight: 400;
  font-style: normal;

  /* transition: .3s ease; */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

body {
}

.responsive-container {
  @apply px-6 md:px-12;
}

.pseduo-clip-path::before {
  clip-path: var(--path);
}

/* footer {
  box-shadow: inset 0px 30px 60px var(--light-purple-1);
} */