.octa-input-up{
    clip-path: polygon(12% 0, 88% 0, 98% 100%, 2% 100%);
}

.octa-input-down{
    clip-path: polygon(2% 0%, 98% 0, 88% 100%, 12% 100%);
}

.octa{
    clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
}